<div class="container my-2">
  <div class="welcome-banner">
    <div class="banner-title">
      <p class="title-text-style">
        The value of an <span class="purple-color">idea</span> lies <br />
        in the using of it.
      </p>
    </div>
    <div class="banner-image">
      <img class="img-style" [src]="imagePath" alt="welcome-image" />
    </div>
  </div>

  <!-- multiple domain areas container -->
  <div class="domain-container" style="width: 100%">
    <p class="title-text-style font-1">
      Powerful <span class="aqua-green-text">features</span> to <br />
      fuel our success
    </p>
    <div class="projects-card-container">
      <!-- coloum 1 -->
      <div
        class="card-margin-right-2 card-margin-bottom-2"
        style="display: flex; flex-direction: column; width: 72%"
      >
        <!-- row 1 -->
        <div class="domain-container-row">
          <ironsubhajit-ract-card
            cardTitle="website developement projects"
            btnText="explore web projects"
            style="width: 60%"
            class="card-margin-right-2 card-margin-bottom-2"
          ></ironsubhajit-ract-card>
          <ironsubhajit-square-card
            cardTitle="java projects"
            btnText="explore java projects"
            style="width: 40%"
          ></ironsubhajit-square-card>
        </div>
        <!-- row 2 -->
        <div class="domain-container-row">
          <ironsubhajit-square-card
            cardTitle="python projects"
            btnText="explore python projects"
            style="width: 40%"
            class="card-margin-right-2 card-margin-bottom-2"
          ></ironsubhajit-square-card>
          <ironsubhajit-ract-card
            cardTitle="Artificial Intellegence projects"
            btnText="explore AI projects"
            style="width: 60%"
          ></ironsubhajit-ract-card>
        </div>
        <!-- row 3 -->
        <div class="domain-container-row">
          <ironsubhajit-ract-card
            cardTitle="machine learning projects"
            btnText="explore ml projects"
            style="width: 60%"
            class="card-margin-right-2 card-margin-bottom-2"
          ></ironsubhajit-ract-card>
          <ironsubhajit-square-card
            cardTitle="analytics projects"
            btnText="explore analytic projects"
            style="width: 40%"
          ></ironsubhajit-square-card>
        </div>
      </div>
      <!-- coloum 2 -->
      <div style="display: flex; flex-direction: column; width: 28%">
        <ironsubhajit-square-card
          cardTitle="Mobile app projects"
          btnText="explore mob projects"
          [parentDivStyle]="customHeight"
          class="card-margin-bottom-2"
        ></ironsubhajit-square-card>
        <ironsubhajit-square-card
          cardTitle="consultant projects"
          btnText="explore consultancy"
        ></ironsubhajit-square-card>
      </div>
    </div>
  </div>

  <!-- services -->
  <div>
    <ironsubhajit-custom-carosel></ironsubhajit-custom-carosel>
  </div>

  <!-- Schedule a meeting button -->
  <div>
    <ironsubhajit-schedule-meeting-btn></ironsubhajit-schedule-meeting-btn>
  </div>

  <!-- Looping over the project list -->
  <!-- <div
      *ngFor="
        let project of projectList | slice : 0 : 4;
        index as i;
        trackBy: trackByFn
      "
      class="col"
    >
      <ironsubhajit-project-card
        [project]="project"
      ></ironsubhajit-project-card>
    </div> -->
</div>
