<!-- <div class="card mx-2 h-100">
  <img src="https://picsum.photos/200/200" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{project?.title}}</h5>
    <p class="card-text">
      {{project?.content}}
    </p>
    <a [routerLink]="['/detail', project?._id || '']" class="btn btn-primary">Explore</a>
  </div>
</div> -->

<!-- <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://picsum.photos/200/200" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div> -->

<div class="parent-card">
  <div class="thumbnail">
    <div class="circle-container">
      <img
        [src]="project?.thumbnali_link"
        [alt]="'category image'"
      />
    </div>
  </div>
  <div class="card-content">
    <h2 class="service-card-header">
      {{ project?.title | titlecase }}
    </h2>
    <div>
      <ul class="services-desc">
        <li class="list-item">
          {{project?.content}}
        </li>
      </ul>
    </div>
    <div class="btn-container">
      <ironsubhajit-custom-button buttonText="Explore Project"></ironsubhajit-custom-button>
    </div>
  </div>
</div>
