@import "src/colors.scss";

* {
  transition: all 0.3s ease-in-out;
}

.parent-card {
  background-color: $aqua-green-transparent-3;
  width: 85%;
  height: auto;
  display: flex;
  flex-direction: row;
  border: 1px solid $aqua-green;
  border-radius: 0.225rem;
  margin: 1rem 0rem;
  padding: 0.5rem;
  cursor: pointer;
}

.parent-card:hover {
  transform: scale(1.03);
  box-shadow: 0 0 4px 4px $aqua-green-transparent-3;
}

.thumbnail {
  width: 20%;
  margin-right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  // height: 0;
  border: 1px solid $aqua-green;
  border-radius: 0.225rem;
  background-color: transparent;
  padding-top: 100%;
  position: relative; /* Required for absolute positioning */
  overflow: hidden; /* Hide any overflow content */
}

.circle-container img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-content {
  width: 80%;
  height: auto;
  border-radius: 0.225rem;
  color: $white;
  border: 1px solid $aqua-green;
  background-color: transparent;
}

.service-card-header {
  letter-spacing: 0.1rem;
  font-weight: 300;
  margin: 1rem;
  margin-top: 0.2rem;
}

.list-item {
  margin: 1rem 0;
  font-weight: 300;
}

.services-desc {
  padding-right: 1rem;
  padding-left: 1rem;
}

.truncate {
  max-height: calc(
    1.5em * 4
  ); /* Set max height to accommodate 3 lines of text */
  line-height: 1.5em; /* Set line height for the text */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  font-size: 0.875rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4; /* Limit to 3 lines of text */
}

.btn-container {
  margin: 1rem;
}

@media (max-width: 1080px) {
  .thumbnail {
    width: 50%;
  }
  .card-content {
    width: 50%;
  }
}

// Tablet devices screen sizes
@media (max-width: 768px) {
  .parent-card {
    flex-direction: column;
    // align-items: center;
    width: 80%;
  }

  .thumbnail {
    width: 100%;
    margin-right: 0 !important;
    margin-top: 0 !important;
  }

  .card-content {
    // display: none;
    width: 100%;
    margin-top: 0.5rem;
  }

  .service-card-header {
    letter-spacing: 0.1rem;
    margin: 0.2rem 0.5rem 1rem 0.5rem;
    // text-align: center;
  }

  .services-desc {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .truncate {
    max-height: calc(
      1.5em * 3
    ); /* Set max height to accommodate 3 lines of text */
    -webkit-line-clamp: 3; /* Limit to 3 lines of text */
  }

  .list-item {
    margin: 0.5rem 0;
  }

  .btn-container {
    margin: 0.5rem;
  }
}
