<div class="container mt-2">
  <div class="row row-cols-1 row-cols-lg-4 row-cols-md-2 g-4">
    <div class="col">
      <ironsubhajit-project-card></ironsubhajit-project-card>
    </div>
    <div class="col">
      <ironsubhajit-project-card></ironsubhajit-project-card>
    </div>
    <div class="col">
      <ironsubhajit-project-card></ironsubhajit-project-card>
    </div>
    <div class="col">
      <ironsubhajit-project-card></ironsubhajit-project-card>
    </div>
    <div class="col">
      <ironsubhajit-project-card></ironsubhajit-project-card>
    </div>
  </div>
</div>
