// colors.scss

// Grays
$white: #ffffff;
$off-white: #faf9f6c8;
$light-gray: #f4f4f4;
$medium-gray: #ccc;
$dark-gray: #333;

// Primary Colors
$primary-blue: #007bff;
$primary-red: #dc3545;
$primary-green: #28a745;
$primary-yellow: #ffc107;

// Secondary Colors
$secondary-blue: #6c757d;
$secondary-red: #ff7f7f;
$secondary-green: #77dd77;
$secondary-yellow: #ffff99;

// Accent Colors
$accent-blue: #4b0082;
$accent-red: #ff0000;
$accent-green: #008000;
$accent-yellow: #ffff00;

// Site colors
$aqua-green: #C1F6DF;
$aqua-green-transparent-8: rgba(193, 246, 223, 0.08);
$aqua-green-transparent-1: rgba(193, 246, 223, 0.1);
$aqua-green-transparent-2: rgba(193, 246, 223, 0.12);
$aqua-green-transparent-3: rgba(193, 246, 223, 0.36);
$aqua-green-transparent-5: rgba(193, 246, 223, 0.5);
$black: #1A1D20;
$black-light: #212529;
$purple-dark: #3C005A;
$purple-text: #af73cd;
$purple-text-2: #af73cd94;
$purple-hg: #5D4783;


